* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

main {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 2;
}

h1 {
  margin-top: 1em;
  font-size: 3em;
}

/* ~~~~~Playable Area~~~~~ */
.gameboard {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
  border: .2em solid #000000;
}

.board-rows {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5em;
  height: 10em;
  width: 10em;
}

.square:hover {
  cursor: pointer;
  background-color: #808080;
}

.disabled {
  cursor: not-allowed;
}

.two,
.eight {
  border-left: .2em solid #000000;
  border-right: .2em solid #000000;
}

.five {
  border: .2em solid #000000;
}

.four,
.six {
  border-top: .2em solid #000000;
  border-bottom: .2em solid #000000;
}

.board-image {
  width: 100%;
}

/* ~~~~~Button Area~~~~~ */
button {
  margin-top: 2em;
  padding: .8em;
  width: 12em;
  border-radius: .5em;
  font-size: 1.2em;
  color: white;
  background-color: #2B2B2B;
  cursor: pointer;
}

button:hover {
  background-color: #808080;
  border-color: #fcba03;
}

/* ~~~~~Scoring Area~~~~~ */
.eagle-display,
.turkey-display {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(#FF0000, #FFFFFF, #0000FF 75%);
}

.turkey-display {
  order: -1;
  border-right: .2em solid #000000;
}

.eagle-display {
  order: 3;
  border-left: .2em solid #000000;
}

.main-player-image {
  margin: auto 4em;
  padding-top: 2em;
  height: 12em;
  width: 12em;
}

.score {
  margin: .5em auto;
  text-align: center;
}

.score>h2 {
  text-decoration: underline;
  font-size: 2.3em;
}

h3 {
  font-size: 2em;
  background: #BBA7FF;
  border: .1em solid #000000;
  height: 1.4em;
  margin: .1em;
}